{% extends 'base/main.html' %}

{% block content %}
<div class="container mt-0">
<!-- Header and Action Buttons -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Stock Categories</h2>
    <div>
      {% if request.user.is_staff %}
        <a href="{% url 'add-new-category' %}" class="btn btn-secondary">Add</a>
      {% endif %}
      <button onclick="window.print()" class="btn btn-secondary me-2">Print</button>
      <a href="{% url 'export-category' %}" class="btn btn-secondary">Export</a>
    </div>
  </div>
  <div id="printable-area">

    <!-- User Table -->
    <table class="table table-bordered table-hover table-striped">
      <thead class="table-primary">
        <tr>
          <th></th>
          <th>Category Name</th>
          {% if request.user.is_staff %}
          <th class="no-print">Actions</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for category in category %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ category.name }}</td>
          {% if request.user.is_staff %}
          <td class="no-print">
            <a href="{% url 'edit-category-info' category.id %}" class="btn btn-sm btn-warning">Edit</a>
            <a href="{% url 'delete-category' category.id %}" class="btn btn-sm btn-danger">Delete</a>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
